*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    min-width: 90vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    color: #eee;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.indicadores{
    margin: 50px 0 50px 0;
    width: 85vw;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}