th, td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
    height: 60px;

}

table{
    width: 85vw;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
    margin-bottom: 50px;

}

img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

td{
    margin: auto;
}

button, #send, #close{
    border-radius: 5px;
    border: 1px solid black;
    padding: 2px 6px 2px 6px;
    margin: 3px;
    background-color: #1e1e1e;
    border: solid 1px #555;
    color: #eee;
    cursor: pointer;
}


.invalue{
    width: 50px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 2px 6px 2px 6px;
    margin: 3px;
    background-color: #1e1e1e;
    border: solid 1px #555;
    color: #eee;
    cursor: pointer;
}
